<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative overflow-y-scroll  bg-white rounded-lg shadow p-6 w-[60%] left-[100%] top-28">
          <!-- Modal header -->
          <div class="">
              <h2 class="h2 mr-4 text-red">
                Delete this board?
              </h2>
          </div>
          <!-- Modal body -->
          <p class="mt-6 body-l text-medium-grey">
            Are you sure you want to delete the ‘Platform Launch’ board? This action will remove all columns and tasks and cannot be reversed.
          </p>
          <!-- Modal footer -->
          <div class="flex justify-between mt-4">
            <button class="button-destructive rounded-full w-40">
              Delete
            </button>
            <button class="button-secondary rounded-full w-40">
              Cancel
            </button>
          </div>

      </div>
  </div>
</div>

