<header class="p-6 flex justify-between bg-white">
  <h1 class="h1">Platform Launch</h1>
  <div class="flex items-center">
    <button class="button-primary-l" disabled>+ Add New Task</button>
    <svg class="ml-3" width="5" height="20" xmlns="http://www.w3.org/2000/svg">
      <g fill="#828FA3" fill-rule="evenodd">
        <circle cx="2.308" cy="2.308" r="2.308"/>
        <circle cx="2.308" cy="10" r="2.308"/>
        <circle cx="2.308" cy="17.692" r="2.308"/>
      </g>
    </svg>
  </div>
</header>
