@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,500&display=swap');
@import "tailwindcss";

@theme {
  --color-main-purple       : #635FC7;
  --color-main-purple-hover : #A8A4FF;
  --color-black             : #000112;
  --color-very-dark-grey    : #20212C;
  --color-dark-grey         : #2B2C37;
  --color-lines-dark        : #3E3F4E;
  --color-medium-grey       : #828FA3;
  --color-lines-light       : #E4EBFA;
  --color-light-grey        : #F4F7FD;
  --color-white             : #FFFFFF;
  --color-red               : #EA5555;
  --color-red-hover         : #FF9898;

  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --header-height: 97px;

}

@layer base {
  body {
    font-family: var(--font-plus-jakarta-sans);
  }

  h1{
    @apply font-bold text-2xl text-black leading-7.5;
  }

  h2{
    @apply font-bold text-lg leading-5.75;
  }

  .heading-m{
    @apply font-bold text-[15px] leading-4.75;
  }
  
  .heading-s{
    @apply font-bold text-xs text-medium-grey leading-3.75 tracking-[2.4px];
  }

  .body-l{
    @apply text-[13px] text-black font-medium leading-5.75;
  }

  .body-m{
    @apply text-xs text-black font-bold leading-3.75;
  }

  .button-primary-l{
    @apply flex items-center justify-center gap-2 text-[15px] text-white font-bold leading-4.75  bg-main-purple hover:bg-main-purple-hover py-3 px-6 rounded-full cursor-pointer;
  }

  .kanban-checkbox{
    @apply appearance-none w-4 h-4 rounded cursor-pointer border border-lines-light checked:bg-main-purple checked:border-main-purple checked:bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20d%3D%22M3%208l3%203%207-7%22%2F%3E%3C%2Fsvg%3E')] bg-center bg-no-repeat shrink-0;
  }
}